body
{
	
	font-family: 'Lato', sans-serif;
	color: #747784;
	font-weight: 300;
}

.text-mute{

	color:#747784;;
}

.text-thin{

	font-weight: 100;
}

.title-major{

	font-size: 60px;
}

.title-logo{

	margin-top: 20px;
}

.row{
	display: flex;
}