body
{

	font-family: 'Lato', sans-serif;
	color: #747784;
	font-weight: 300;
}

.text-mute{

	color:#747784;;
}

.text-thin{

	font-weight: 200;

}

.title-name{

	font-size: 60px;
	color:#2d3c49;
}

.title-logo{
    color:#2db3e4;
	margin-top: 20px;
}

.row{
	display: flex;
}

hr{

	height:4px;

	background-color: #7d97ad;
}
.text-bold
{
	font-weight: bold;
}